<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.vms.mapper.OrderMapper">

    <resultMap id="BaseResultMap" type="com.example.vms.data.entity.OrderEntity">

    </resultMap>

    <select id="selectInsertId" resultType="long">
        SELECT LAST_INSERT_ID();
    </select>
</mapper>